## Copiar este archivo a .env.local para desarrollo local.
## Configuracion Firebase - proyecto basquetadmin
NEXT_PUBLIC_FIREBASE_API_KEY="AIzaSyB1W5GZZ-4P8fDJBPe0nFJ9rrhowbwSL8M"
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN="basquetadmin.firebaseapp.com"
NEXT_PUBLIC_FIREBASE_PROJECT_ID="basquetadmin"
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET="basquetadmin.firebasestorage.app"
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID="253452648265"
NEXT_PUBLIC_FIREBASE_APP_ID="1:253452648265:web:e1fc3699f3ce2381316498"
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID="G-82DP52324L"
